* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    margin: 0;
    background-image: linear-gradient(to right, rgb(189, 203, 215), rgb(56, 174, 200));
    font-family: Inter, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 65vh;
    border-radius: 10px;
    margin: 55px auto;
    padding: 20px 10px;
    width: 510px;
}

/* NAV styles */

nav {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 30px 25px;
    height: 60px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav.dark {
    background-color: #21222A;
}

.nav--logo_icon {
    width: 30px;
    margin-right: 10px;
}

.nav--logo_text {
    color: #61DAFB;
    margin-right: auto;
}

.nav--title {
    color: #DEEBF8;
}

.toggler {
    display: flex;
    align-items: center;
}

.toggler p {
    font-size: 0.625rem;
    font-weight: 600;
}

.toggler--slider {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    align-items: center;
    border-radius: 2rem;
    margin-inline: 7px;
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border: 1px solid black;
    box-sizing: content-box;
}

nav.dark .toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
}

.toggler--slider--circle {
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
}

nav.dark .toggler--slider--circle {
    background-color: black;
}

.toggler--light {
    color: #2B283A;
}

nav.dark .toggler--light {
    color: #918E9B;
}

.toggler--dark {
    color: #D5D4D8;
}

nav.dark .toggler-dark {
    color: #FFFFFF;
}

nav.dark .toggler--slider {
    justify-content: flex-end;
}

a {
    color:#61DAFB;
    text-decoration: none;
    font-weight: 800;
}

a:hover {
    color: #3dd0f9;
  }

/* MAIN styles */
main {
    padding: 57px 27px;
    background-image: url("./components/images/react-icon-light.png"); 
    background-repeat: no-repeat;
    background-position: right center;
    flex: 1 1 auto;
    background-color: rgb(255, 255, 255);
    color: #2B283A;
    font-weight: 600;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main.dark {
    background-image: url("./components/images/react-icon-dark.png"); 
    background-color: #282D35;
    color: white;
    
    
}

.main--title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main--facts {
    margin-top: 26px;
    max-width: 400px;
}

.main--facts > li {
    line-height: 19px;
    padding-block: 10px;
}

.main--facts > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}
